@model IEnumerable<Prog_part_2.Models.Contracts>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="mb-3">
    <a href="/Home/Index" class="btn btn-warning"> ← Back to Home</a>
</div>
<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Contracts" asp-action="Index" method="get" class="mb-3">
    <label>Search:</label>
    <input type="text" name="searchstring" class="form-control d-inline w-25" />
    <input type="submit" value="Filter" class="btn btn-sm btn-primary" />
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ContractName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ContractName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContractDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContractType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>