@model IEnumerable<Prog_part_2.Models.ServiceRequests>

@{
    ViewData["Title"] = "Index";
}

<h1>Service Requests</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ContractCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestTypes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestDescription)
            </th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.ContractCost)</td>
                <td>@Html.DisplayFor(modelItem => item.RequestTypes)</td>
                <td>@Html.DisplayFor(modelItem => item.RequestDate)</td>
                <td>@Html.DisplayFor(modelItem => item.RequestDescription)</td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<hr />

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}


<div class="container mt-4">
    <h2 class="mb-4">Currency Converter</h2>

    <form asp-action="Convert" method="post"
          class="row g-3 shadow p-4 rounded bg-light">

        <div class="col-md-3">
            <label class="form-label">Amount</label>
            <input type="number" name="amount" class="form-control" required />
        </div>

        <div class="col-md-3">
            <label class="form-label">From</label>
            <input type="text" name="from" class="form-control" placeholder="USD" required />
        </div>

        <div class="col-md-3">
            <label class="form-label">To</label>
            <input type="text" name="to" class="form-control" placeholder="ZAR" required />
        </div>

        <div class="col-md-3 d-flex align-items-end">
            <button type="submit" class="btn btn-primary w-100">
                Convert
            </button>
        </div>
    </form>

    @if (ViewBag.Result != null)
    {
        var result = (Prog_part_2.Models.ExchangeResponse)ViewBag.Result;

        <div class="mt-4 alert alert-success">
            <h4>Result:</h4>

            <p class="display-6">
                @result.conversion_result @result.target_code
            </p>

            <small>
                Exchange Rate:
                1 @result.base_code =
                @result.conversion_rate @result.target_code
            </small>
        </div>
    }
</div>